{% load static %}



<!DOCTYPE html>
<html lang="es">

<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Automotriz car service">
    <meta name="keywords" content="Servicio mecanico,cambio de llantas,venta de llantas">
    <meta name="author" content="Juan Esteban Bonilla Tavera ">
  <script src="https://kit.fontawesome.com/966daee6cb.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <title>Automotriz car service</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min (1).css'%}">
  <link rel="stylesheet" href="{% static 'css/estilo2.css'%}">
  <link rel="stylesheet" href="{% static 'Css/normal.css'%}">
  <link rel="stylesheet" href="{% static 'Css/font.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
 
</head>

<body>

  <!-- ENCABEZADO inicio -->

  {% include 'includes/encabezado.html' %}


  <!-- ENCABEZADO final -->
  {% if alarma %}
    <div class="alert alarma">
      <p>{{alarma}}</p>
    </div>
    {% endif %}
    {%if mensaje %}
      <div class="alert mensaje">
        <p>{{mensaje}}</p>
      </div>
    {% endif %}

  <main>
  {% block content %}

  <!-- MENU DE NAVEGACION INICIO  -->

  <!-- MENU DE NAVEGACION FIN -->

  {% endblock %}

  <!--  FOOTER INICIO -->
  {% include 'includes/footer.html' %}

  <!-- FOOTER FIN -->


</main>

</body>

</html>