{% extends 'base.html' %}
{% load static %}

{% block content %}






            <section id="boletin">
                <div class="contendor">
                    <h1>contáctenos</h1>
                    <br>
                    <br>

                </div>
            </section>

            <section id="principal">
                <div class="contenedor">
                    <article id="col-principal">
                        <h3>Registro usuario</h3>
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                              <input type="text" name="email">

                            </div>
                          </div>
                          <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="inputPassword">
                              <input type="submit" value="Enviar"  class="boton" onclick="alert('Se ha enviado el mensaje')"  >
                            </div>
                          </div>
                        <br>
                        <br>
                        <h1>Formulario solicitud de servicios</h1>
                        <form id="formulario">
                            <label>Nombre</label>
                            <input type="text" name="nombres" placeholder="Ingrese su nombre completo" id="name">
                            <br>
                            <br>
                            <label>Email</label>
                            <input type="text" name="email" placeholder="Correo electronico" id="email"><br>
                            <br>
                            <label>Telefono</label>
                            <input type="text" name="telefono" placeholder="Digite su numero de telefono" id="phone">
                            <br>
                            <br>
                            <br>
                            <label>Solicitud</label>
                            <br>
                            <textarea></textarea>
                            <br>
                            <input type="submit" value="Enviar"  class="boton" onclick="alert('Se ha enviado el mensaje')"  >

                        </form>
                      
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h1>Encuentrenos en la direccion Mirolindo 3a, Ibagué, Tolima</h1>
                        <br>
                        <h1>atencion lunes a sábado 8:00am a 6:00pm</h1>
                        <br>
                        <h1>Telefono:189829818191 celular:3504417602</h1>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d4730.504037245634!2d-75.18688922874128!3d4.436434354955882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8e38c5111fe0da69%3A0xbff9ce3b1bef303b!2sMirolindo%203a%2C%20Ibagu%C3%A9%2C%20Tolima!3m2!1d4.437738599999999!2d-75.1866281!5e0!3m2!1ses!2sco!4v1655056383909!5m2!1ses!2sco"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                {% endblock %}