{% extends 'base.html' %}
{% load static %}

{% block content %}


</header>
    
<selection id="boletin">
    <div class="contenedor">
        <h1>Quienes somos</h1>
    </div>
</selection>

<selection id="principal">
    <div class="contenedor">
        <article id="col-principal">
            <div>
                <h1>reseña historia</h1>
                <p>Nuestra empresa es relativamente joven no poseemos una larga 
                    historia que contar pero lo que carecemos de una larga trayectoria
                    pero esto lo compensamos con nuestro servicio de calidad,
                    integridad y nuestros empleados altamente calificados
                </p>
                </p>
            </div>
            <img class ="quienes" src="{% static 'imagenes/istockphoto-108199858-2048x2048.jpg' %}" >
        </article>

        <aside id="lateral">
            <div class="oscuro">
                <h1>mision</h1>
                <p>Proporcionar un buen servicio de mantenimiento automotriz en general, conservando los
                    autos y motocicletas de nuestros clientes en un estado de operacion eficiente y seguro
                    satisfaciendo sus necesidades o expectativas en el menor tiempo. </p>

            </div>
        </aside>
        </article>
        <article>
            <aside id="lateral1">
                <div class="oscuro">
                    <h1>vision</h1>
                    <p>Proporcionar un servicio de calidad para brindar soluciones fiables y duraderas que conserven los autos en un estado optimo,eficiente y seguro por medio de personal altamente capacitado,motivado que tiene como principal interes
                        la seguridad con la completa satisfaccion de nuestros clientes.</p>
                </div>
            </aside>
        </article>

    </div>
</selection>



{% endblock %}